#Build files
*.o
pixie_ldf_*
build/

#Backup files from various editors
*.save
*~
*.swp
*.layout
*#*

#Documentation directories and files
html/
latex/
tmp/
doc/classdiagramRawEvent.svg
config/cfgs
optional
ValgrindOut.xml

#Compressed Files
*.bz2
*.tgz
*.tar.gz

#Histogram files
*.drr
*.his
*.list
*.log
*.root

# Data directories
HIS
LDF
HIS/*
LDF/*
data
